@model MonsterMVC.Domain.Data.Encounter

@{
    ViewBag.Title = "CreateFromRandom";
}

<h2>CreateFromRandom</h2>


@using (Html.BeginForm("CreateFromRandom", "Encounters", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <form method="POST">
        <label for="numberOfPlayers">Number of Players</label>
        <input type="number" id="numberOfPlayers" name="numberOfPlayers" />
        <label for="numberOfMonsters">Number of Monsters</label>
        <input type="number" id="numberOfMonsters" name="numberOfMonsters"/>
        <label for="averagePlayerLevel">Average Player Level</label>
        <input type="number" id="averagePlayerLevel" name="averagePlayerLevel"/>
        <label for="encounterDifficulty">Encounter Difficulty</label>
        <select name="encounterDifficulty">
            <option value="E">Easy</option>
            <option value="M">Medium</option>
            <option value="H">Hard</option>
            <option value="D">Deadly</option>
        </select>
        <input type="submit"/>
    </form>

}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
