@using MonsterMVC.Domain.Data
@using System.Collections.Generic
@model MonsterMVC.Domain.Data.Encounter


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="partial">
    @{
        Html.RenderAction("SearchMonsters", "MonsterDataModels", new{ searchBy = "monsterName", search ="Zombie"});
    }
</div>
    <div>
        <h4>Encounter</h4>
        <hr />
        <dl class="dl-horizontal"></dl>
    </div>
    <table>
        @foreach (var item in Model.ActiveMonsters)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Monster.Name)
                </td>
            </tr>
        }
    </table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



