@model MonsterMVC.Domain.DomainModel.Monster

<div>
    

    <div style="display: flex; justify-content: space-around;">
            
        <div style="display: flex; flex-direction: column;">
        
                @Html.DisplayNameFor(model => model.HitPoints)
    

         
                @Html.DisplayFor(model => model.HitPoints)
      
        </div>
    </div>
</div>
